@font-face {
    font-family: "DM Sans";
    src: url("./fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf") format("opentype"),
}

@font-face {
    font-family: "Dosis";
    src: url("./fonts/Dosis/Dosis-VariableFont_wght.ttf") format("opentype"),
}



body {
    background: #70e1f5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Dosis", "Arial Narrow", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  
}

* {
    color: #313133;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

body > header {
    background-color: #fff;
    display: flex;
    width: 100%;
    margin: 0 auto 2em auto;
    padding: 0;
    overflow-x: hidden;
    border-radius: 1em;
}
body > header img {
    height: 4em;
}
body > header #menu {
    display: flex;
    width: 50%;
    align-items: stretch;
    border-left: 1px solid #f6d26a;
}
body > header #menu a {
    flex: 1;
    text-align: center;
    padding-top: 2em;
    border-right: 1px solid #f6d26a;
}
body > header a:hover {
    background-color: #c6d7bb;
    color: white;
}
body > header ul {
    list-style: none;
}
body > header #user {
    margin-left: auto;
    flex: 0.2;
    border-left: 1px solid #f6d26a;
}
body > header #user > a {
    display: block;
    text-align: center;
    padding: 2em 0;
    width: 100%;
}
body > header #user ul {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    margin-left: -5em;
    background-color: #fff;
    border: 1px solid #99b;

    z-index: 1;
}
body > header #user ul li a {
    display: block;
    width: 10em;
    padding: 1em;
    border-bottom: 1px solid #99b;
}
body > header #user:hover ul {
    display: block;
}



#wrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0 auto 2em auto;
}
#wrapper aside {
    background-color: #fff;
    flex: 1;
    padding: 1em;
    border-radius: 1em;
}
#wrapper aside img {
    display: block;
    width: 50%;
    margin: auto;
}

#wrapper main {
    flex: 3;
    padding-left: 1em;
}
button{
    padding: 1em;
    margin: 0 auto 1em auto;
    border-radius: 1em;
    background-color: #fff;
    border: none;
    font-family: "Dosis", "Arial Narrow", Arial, sans-serif;
    width: 8em;
    font-size: 1em;
}
#wrapper main article {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    clear: both;
    overflow: hidden;
}
#wrapper main article h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1em;
}
#wrapper main article time {
    float: left;
}
#wrapper main article address {
    text-align: right;
    margin-bottom: 1em;
}
#wrapper main article p {
    margin: 0;
}
#wrapper main article footer {
    margin-top: 1em;
    text-align: right;
}
#wrapper main article footer small {
    float: left;
}

#wrapper main article:first-child {
    margin-top: 1em; /* Ajoutez une marge en haut du premier article */
}

#wrapper.admin {
    flex-direction: row-reverse;
}
#wrapper.admin aside {
    flex: 1;
    margin-left: 1em;
    border-radius: 0;
    padding: 0;
}
#wrapper.admin main {
    flex: 2;
    background-color: #fff;
    border-radius: 0;
    padding: 0;
}
#wrapper.admin h2 {
    text-align: center;
}
#wrapper.admin h3 {
    margin: 0;
}
#wrapper.admin nav {
    text-align: right;
}
#wrapper.admin article {
    border: 1px solid #ddd;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}
#wrapper.admin article p {
    float: left;
    margin: 0;
}

.parameters dl dt {
    float: left;
    font-weight: bold;
    line-height: 1.5em;
}
.parameters dl dd {
    margin-left: 15em;
    line-height: 1.5em;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.contacts article {
    width: 25em;
    height: 7em;
    margin-right: 1em;
}
.contacts article img {
    float: right;
    height: 5em;
}

form dl dt {
    float: left;
    font-weight: bold;
    line-height: 1.5em;
}
form dl dd {
    margin-left: 10em;
    line-height: 1.5em;
    margin-bottom: 1em;
}
form dl dd textarea {
    width: 40em;
    height: 15em;
}

footer{

    display: inline;
}

a {
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  a::before,
  a::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  a::before {
    background-color: #54b3d6;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #54b3d6;
  }
  
  a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  a:hover::after {
    transform: translate3d(0, 0, 0);
  }

  a {
  text-decoration: none;
  color: #18272F;
  font-weight: 700;
  vertical-align: top;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 30px;
    min-height: 6px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background:#c6d7bb;
    border: 3px solid #fff;
    border-radius: 1000px; 
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }

  .heart:hover {
    cursor: pointer;
}